<nav class="navbar navbar-static-top navbar-dark bg-inverse">
  <a class="navbar-brand" href="#">Project name</a>
  <ul class="nav navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Contact</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="<%= signout_path %>">Sign out</a>
    </li>
  </ul>
</nav>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    View source for complete XML SAMLResponse
    <h1 class="display-3">Hello, <%= current_user.email %></h1>
    <b>SSO with Blueleaf as IdP</b>
    <p>Below are the attributes collected from Blueleaf</p>
    <% session[:attributes].each do |k,v| %>
      <div class="row">
        <div class="col-xs-4"><%= k %></div>
        <div class="col-xs-8"><b><%= v %></b></div>
      </div>
    <% end %>
  </div>
</div>

<div class="container">

  <hr>

  <footer>
    <p>&copy; Company 2016</p>
  </footer>
</div> <!-- /container -->
<!--
 <%= Nokogiri::XML(@response.response).to_s.html_safe %>
-->
